.wrapper-index {
    min-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    border: 0%;
    outline: 0%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-family: Nunito;
} 

.images {
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: row;
    position: absolute;
    margin-top: -10px;
    padding: 0;
    border: 0%;
    outline: 0%;
    position: fixed;
    overflow: hidden;
}

.image-one {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}

#imgone {
    width: 100%;
    height: 100%;
}

.image-two {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#image-left {
    height: 100%;
    width: 50%;
    object-fit: contain;
    background-color: grey;
}

#imgleft {
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    min-width: 100%;
    overflow: hidden;
    object-fit: cover;
}

#image-right {
    height: 100%;
    width: 50%;
    object-fit: cover;
    background-color: lightgrey;
}

#imgright{
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    min-width: 100%;
    overflow: hidden;
    object-fit: cover;
}
    
#filter {
    background-color: rgba(0, 174, 239, 0);
    width: 100%;
    height: 100%;
    z-index: 3;
    padding: 0%;
    margin: 0%;
    border: 0%;
    outline: 0%;
    position: fixed;
}

.content {
    height: 100%;
    margin: 0 auto;
    z-index: 3;
    margin-top: 18vh;
    flex-direction: row;
}

.content-landing {
    height: 100%;
    margin: 0 auto;
    z-index: 3;
    margin-top: 18vh;
    flex-direction: row;
}

.footer {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-end {
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    text-align: center;
    width: 80%;
    z-index: 100;
}

#logo {
    width: 70px;
    height: 100%;
}

.end-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 7%;
}

#endResult {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 3000;
}

.logo-landing {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#logo-landing {
    width: 170px;
    height: 100%;
    padding-bottom: 2vh;
}

.share {
    width: 100px;
    height: 100%;
    text-align: center;
}

#share {
    color: white;
    width: 60%;
    height: 60%;
}

.fb-like {
    width: 100%;
    height: 15px;
    z-index: 2000;
    background-color: transparent;
    margin-bottom: 10%;
    position: absolute;
}

.score {
    width: 100px;
    height: 100%;
    text-align: center;
}

#score {
    color: white;
}

.text {
    background-color: rgba(255, 255, 255, 0);
    max-width: 100%;
    min-height: 10vh;
    margin: 0 auto;
    padding: 2vh 7vh;
    font-family: Nunito;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.text-landing {
    background-color: rgba(255, 255, 255, 0);
    max-width: 80%;
    min-height: 10vh;
    margin: 0 auto;
    padding: 1vh 2vh;
    font-family: Nunito;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#header {
    margin-top: -12%;
    margin-bottom: 6%;
    font-size: 50px;
    font-weight: 700;
}

#tweet {
    font-size: 1.5em;
    max-width: 100%;
    color: #FFFFFF;
    height: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-family: Nunito;
    display: flex;
    flex-direction: column;
    margin-bottom: 6vh;
    margin-top: 4vh;
}

.bold {
    font-size: 1.5em;
    font-weight: 700;
}

#time {
    font-size: 2vh;
    color: #FFFFFF;
    font-weight: 400;
    margin-bottom: 5vh;
    margin-top: -50px;
}

.buttons {
    width: 700px;
    margin-top: 90vh;
    display: flex;
    margin: 0 auto;
    font-family: Nunito;
    border: 1px solid green;
    margin-top: 0%;
}

.buttonLeft-wrapper {
    width: 499px;
    height: 100%;
    width: 100%;
}

#buttonLeft {
    float: right;
    margin-right: 50px;
    height: 100%;
    width: 100%;
}

#bl {
    height: 100%;
    width: 250px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 3vh;
    padding-right: 3vh;
    font-size: 1.2em;
    margin-right: 0;
    font-weight: 700;
    font-family: Nunito;
    border-radius: 2px;
}

#bl:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
}

.buttonRight-wrapper {
    width: 499px;
    height: 100%;
    width: 100%;
}

#buttonRight {
    float: left;
    margin-left: 50px;
    height: 100%;
    width: 100%;
}

#br {
    height: 100%;
    width: 250px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 3vh;
    padding-right: 3vh;
    font-size: 1.2em;
    font-weight: 700;
    font-family: Nunito;
    border-radius: 2px;
}

#br:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
}

.buttonnext-wrapper {
    width: 100%;
    height: 60px;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#buttonnext {
    width: 150px;
    height: 100%;
}

#bn {
    width: 150px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 0.7vh;
    padding-right: 0.7vh;
    font-size: 0.8em;
    font-weight: 700;
    font-family: Nunito;
    border-radius: 2px;
}

#bn:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
}

.button {
    width: 250px;
    margin-top: 90vh;
    display: flex;
    margin: 0 auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: Nunito;
}

.button-wrapper {
    width: 499px;
    height: 100%;
}

#button-landing {
    float: center;
    font-weight: 700;
}

#b {
    height: 100%;
    width: 250px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 3vh;
    padding-right: 3vh;
    font-size: 1.2em;
    margin-right: 0;
    font-family: Nunito;
    font-weight: 700;
    border-radius: 2px;
}

#b:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
} 

#button-newgame {
    float: center;
    font-weight: 700;
}

@media only screen and (max-width: 1100px) {

    #imgright {
        height: auto;
        width: 100%;
    }
    
    .footer {
        flex-direction: column;
    }

    .logo {
        max-width: 200px;
    }

    #logo {
        width: 70px;
        height: 100%;
    }
    
    #time p {
        font-size: 14px;
        margin-top: -50px;
    }

}

@media only screen and (max-width: 750px) {


    .images {
        width: 100%;
        height: 100%;
        display: flex; 
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: -10px;
        padding: 0;
    }

    #image-left {
        height: 50%;
        width: 100%;
        background-color: grey;
        transform: scale;
    }

    #imgleft{
        width: 100%;
    }

    #image-right {
        height: 50%;
        width: 100%;
        background-color: lightgrey;
        transform: scale;
    }

    #imgright{
        width: 100%;
    }
    
    .image-two {
        width: 100%;
        height: 100%;
        display: flex; 
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: -10px;
        padding: 0;
    }

    #header {
        margin-top: -25%;
    }
    
    .buttons {
        width: 100%;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .buttonLeft-wrapper {
        width: 250px;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
    }

    #buttonLeft {
        margin: 0 auto;
        float: none;
        width: 100%;
        height
    }

    .buttonRight-wrapper {
        width: 250px;
        height: 100%;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 5px;
    }

    #buttonRight {
        margin: 0 auto;
        float: none;
    }
    
    .buttonnext-wrapper {
        margin-top: 10px;
    }
    
    .share {
        display: none;
        width: 100%;
        height: 100%;
    }

    #share {
        font-size: 12px;
        width: 100%;
        height: 100%;
    }

    .score {
        width: 70px;
        height: 100%;
    }

    #score {
        font-size: 12px;
    }
    
    #bl {
        font-size: 14px;
    }
    
    #br {
        font-size: 14px;
    }
    
    #b {
        font-size: 14px;
    }

}

@media only screen and (max-width: 700px) {
    
    #header {
        font-size: 30px;
        margin-top: -100px;
    }
    
    #time p {
        font-size: 14px;
    }
    
    #tweet {
        font-size: 20px;
    }
    
}

@media only screen and (max-width: 500px) {
    
    #header {
        font-size: 30px;
        margin-top: -100px;
    }
    
    #time p {
        font-size: 14px;
    }

    .logo {
        max-width: 100px;
    }

    #logo {
        width: 70px;
        height: 100%;
    }
    
    #tweet {
        font-size: 17px;
    }
}

@media only screen and (max-width: 400px) {
    
    #time p {
        font-size: 11px;
        margin-top: -10px;
    }
    
    #header {
        margin-top: -30%;
    }
    
}

@media only screen and (max-width: 350px) {

    
    #time p {
        font-size: 9px;
    }
    
    #header {
        margin-top: -40%;
    }
    
    #tweet {
        font-size: 15px;
    }
    
}
